@model ML.Repartidor
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<script src=" https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
<div class="text-center">
    <h2>Repartidor</h2>
    <h5>Lista de Repartidores</h5>
</div>
<hr />

<a href="@Url.Action("Form","Repartidor")" class="btn btn-success">Agregar </a>
@if (Model.Repartidores.Count > 0)
{
    <table class="table table-bordered">
        <thead>
            <!-- On rows -->
            <tr class="bg-warning">
                <th>Editar</th>
                <th>IdRepartidor</th>
                <th>Nombre</th>
                <th>ApellidoPaterno</th>
                <th>ApellidoMaterno</th>
                <th>IdUnidadAsignada</th>
                <th>Telefono</th>
                <th>FechaIngreso</th>
                <th>Fotografia</th>
                <th>Eliminar</th>
                <!-- On cells (`td` or `th`) -->
            </tr>
        </thead>
        <tbody>
            @foreach (ML.Repartidor repartidor in Model.Repartidores)
            {
                <tr>
                    <td><a class="btn btn-warning" href="@Url.Action("Form", "Repartidor", new { IdRepartidor = repartidor.IdRepartidor })"><i class="fa-solid fa-pencil fa-bounce" style="color: #332774;"></i></a></td>
                    <td>@repartidor.IdRepartidor</td>
                    <td>@repartidor.Nombre</td>
                    <td>@repartidor.ApellidoPaterno</td>
                    <td>@repartidor.ApellidoMaterno</td>
                    <td>@repartidor.IdUnidadAsignada</td>
                    <td>@repartidor.Telefono</td>
                    <td>@repartidor.FechaIngreso</td>
                    <td>@repartidor.Fotografia</td>

                    <td><a class="btn btn-danger" href="@Url.Action("Delete", "Repartidor", new { IdRepartidor = repartidor.IdRepartidor })" onclick="return confirm('Estas seguro de que quieres eliminar este registro');"> <i class="fa-solid fa-trash fa-beat" style="color: black;"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        No existen registros en la tabla :(
    </div>
}